* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

header {
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
}

.nav-links{
    display:flex;
    margin-top:30px;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
}

.nav-link{
    text-decoration: none;
    color: rgb(240, 240, 240);
}


nav{
    flex: 2;
}

.presentation{
    display:flex;
    width: 100%;
    position: absolute;
    top: 30%;
    height: 70%;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    padding: 25px 0px 0px 0px;
}
.about {
    width: 40%;
    min-width: 300px;
    font-size: 20px;
    line-height: 130%;
}
.about h2{
    font-size: 25px;
}
.my-work img{
    border-radius: 5px;
    width:100%;
    filter: drop-shadow(0px 5px 3px black);

}
.presentation h3{
    font-size: 24px;
}
.my-work{
    width: 40%;
    font-size: 16px;
}
#particles-js
{
    height: 30%;
    width: 100%;
    background: #1c464f;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
.headContent{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;

}
.headContent h1{
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-top: 55px;
    font-size: 55px;

}
.headContent img{
    display:flex;
    border-radius: 50%;
    height: 10%;
    width: 10%;
    position: relative;
    right: 40px;
    filter: drop-shadow(0px 5px 3px black);
}

@media screen and (max-width: 1200px){
    .headContent img{
        height: 25%;
        width: 18%;
    }
    .headContent h1{
        font-size: 500%;
    }
    .headContent{
    }
}

@media screen and (max-width: 700px){
    .headContent img{
        position: relative;
        left: 30%;
        bottom: 90px;
        z-index:-1;
        width: 28%;
    }
    .headContent h1{
        position: relative;
        right: 65px;
        font-size: 340%;
    }
    
    .nav-links{
        flex-direction: column;
        position: relative;
        text-align: left;
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 450px){
    .headContent img{
        width: 25%;
        position: relative;
        right: 52%;
    }
    .headContent h1{
        font-size: 260%;
    }
}

@media screen and (max-width: 380px){
    .headContent h1{
        position: relative;
        bottom: 25px;
    }
}